// $bg-dot: repeat url(../src/assets/images/dot.png);
* {
    margin: auto 0;
}
// idée couleur palette vintage / simple
$rose : #DA919F;
$beige : #F3D4B0;
$creme : #F3E7DA;
$vert : #9DC4BC;
$violet : #9281C0;
$bleu : #7882c2;
