@import '_var.scss';

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  background-color: $bg-parchemin;
}

body {
  background: $bg-dot;
  background-size: $bg-size;
}